<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mygento_indexnow>
            <bing>
                <endpoint_url>https://www.bing.com/indexnow</endpoint_url>
            </bing>
            <yandex>
                <endpoint_url>https://yandex.com/indexnow</endpoint_url>
            </yandex>
        </mygento_indexnow>
    </default>

</config>
